<div class="container">

  <app-persona [viewMode]="true"
  [currentPersona]="currentPersona"></app-persona>
  <div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Comuna</th>
                <th>Region</th>
                <th>Ver Mas</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let persona of personas; let i = index">
                <td >{{persona.nombre}}</td>
                <td >{{persona.correo}}</td>
                <td >{{persona.comunaDTO.nombre}}</td>
                <td >{{persona.comunaDTO.regionDTO.nombre}}</td>
                <td> ver</td>
            </tr>
        </tbody>
    </table>
    <div class="row centro">
      <hr>
      <div class="col-md-12">
         <button class="btn btn-outline-success" routerLink="/agregar-persona">Agregar Persona</button>
         <br>
      </div>
    </div>
  </div>
</div>
